*{
    font-family: "Montserrat", sans-serif;
}

img.testim-image{
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height:auto;
    opacity:0.9;
    border: 2px solid #529fcc;
}

.carousel-caption{
    font-size:0px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    background-color: #529fcc;
    /* width: 100%; */
    padding:2.25rem 30px;
    right:0;
    left:0;
    bottom:0.25rem;
    border-radius: 15px;
}

.carousel-heading{
    font-size:18px;
    padding-top:2.65rem;
}

/* .carousel-heading:hover{
    font-size:14px;
    transition: font-size 200ms ease-in-out;
} */

.carousel-caption:hover{
    font-size:16px;
    transition: font-size 200ms ease-in-out;
}

.carousel-indicators {
bottom:-20px !important;
}

.carousel-indicators [data-bs-target]{
    background-color: #fff !important;
}

.carousel-control-prev-icon{
    background-image: url("../img/arrow-ios-back.svg") !important;

}

.carousel-control-next-icon{
    background-image: url("../img/arrow-ios-forward.svg") !important;

}

@media screen and (max-width: 980px){
    .carousel-caption{
        font-size:0px;
        margin: 0 auto;
        width: 100%;
        max-width: 194px;
        left:0;
        right:0;
    }
    .carousel-caption:hover{
        font-size:12px;
    }

    .carousel-heading{
        font-size:12px;
        padding-top:0;
    }
} 