body {
    /* margin: 1rem auto; */
    /* max-width: 800px; */
    background-color: #fff;
    color: #000;
    --button-text: #000;
    --button-bg: transparent;
    transition: background-color 0.3s ease;
  }

  .dark span.navbar-toggler-icon{
    background:url('./../img/navbar-toggler-icon.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
}

.dark .logo{
    content: url("./../../../../public/dark-logo.svg"); 
}

.dark .profile-picture{
    content: url("https://i.ibb.co/bKcnVkT/1234-cr-cr.png"); 
    border-radius: 52% !important;
}




.favorite-modal .modal-header{
    display:none;
  }


  .dark .dark-modal-body, .dark .popup{
    background-color: black !important;
    color:whitesmoke !important;
  }

  .dark .dark-modal-button{
    background-color: #424242 !important;
    color:#529fcc !important;
  }

  .light-modal-button{
    background-color: #529fcc !important;
    color: white !important;
  }

  .new-visitor-button{
    width: 80px;
    border-radius: 40px;
  }
div.popup{
  height: 140px !important;
  width:100%;
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  z-index: 30;
}

.dark .whats-new-info{
  background-color: #000;
}

.dark .whats-new-link{
  color: #529fcc;
}

div.popup a{
  color: black;
}
  .popup, .popup p{
    background-color:#529fcc;
    color: white;
    padding:32px 0px 42px 0px
  }
  .favorite-modal .modal-dialog, .popup{
    display: block !important;
    background:transparent !important;
    position: fixed !important;
    bottom:-35px !important;
    left:0 !important;
    right:0 !important;
    width: 96% !important;
    height: 100px !important;
  }
.new-visitor-button{
  background-color: transparent !important;
  top: 15px !important;
  right: 0 !important;
}
  

  .delete-modal .modal-dialog{
    display: block !important;
    background:transparent !important;
    position: fixed !important;
    top: 30% !important;
    left:0 !important;
    right:0 !important;
    width: 96% !important;
    height: 100px !important;
  }

  .got-it-button{
    position: absolute;
    top: 10px;
    right: 16px;
  }


  body.dark {
    background-color: #424242;
    color: #fff;
    --button-text: #fff;
    --button-bg: transparent;
    transition: background-color 0.3s ease;
  }
  

  nav.page-header{
    background-color: #529fcc;
    color: hsl(0, 0%, 100%);
    
  }

  nav.page-header.dark{
    background-color: black;
    color: #fff;
  }

  html, body, #root {
    height: 100%;
  }

  .toggle_btn {
    background-color: var(--button-bg);
    color: var(--button-text);
    cursor: pointer;
    border: none;
  }


*{
    font-family: "Montserrat", sans-serif;
}

.page-header {
    font-size: 1.2em;
    
    /* background-color: #529fcc; */
    
}

/* .download-de, .download-en, .download-uk{
    width:20px;
} */

.logo:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
        transform: scale(1.2);
    
    transition: transform 0.3s ease-out, padding-right 0.3s ease-out, border-bottom 0.3s ease-out, padding-bottom 0.3s ease-out, color 0.3s ease-out;
}

.switcher select {
    width: 130px;
    height: 44px;
    background-color: #529fcc;
    color:black;
  }

.dropdown-menu{
    background-color: #f3f0f0 !important;
    padding:0 !important;
    
}

.navbar-expand-lg .navbar-nav .nav-link{
    color:white;
}

#nav-dropdown{ color: white}
.dropdown-item{
    padding:2px 0 16px 10px !important;
}

.dropdown-item:hover{
    background-color: #529fcc !important;
}


.nav-cases{
    text-decoration: none;
    padding:10px 25px 0 0;
    color:black;
    
}


.nav-lang-cases:hover{
    padding-left:10px;
    transition: all 0.2s ease-in;
}

.nav-cases:hover{
    color:white;
    padding-left:10px;
    transition: all 0.2s ease-in;
}

.fa-globe{
    padding-left:14px;
}

button.toggle_btn{
    /* padding-left:0px; */
    margin-top:3px;
}

.moon{
    /* width:17px; */
    /* height:24px; */
    font-size:24px;
    margin-left:10px;
    
}

.sun{
    /* width:27px; */
    /* height:24px; */
    font-size:24px;
     margin-left:10px;
     
}

.notification{
  display:block;
  text-align: center;
  width: 300px;
  height:200px;
  padding: 20px;
  position: absolute;
  top: 7rem;
  right:0;
  z-index:40;
  background-color: #3b3937;
  color: whitesmoke;
}

a.notification-more{
  color: whitesmoke !important;
}

.bell-calm{
  color: #000 !important;
}

.dark .bell-calm{
  color: #fff !important;
}

.dark .bell-active{
  color: #529fcc !important;
}

.bell-active{
  color: #ffd43b !important;
}


.dark .notification{
  display:block;
  text-align: center;
  width: 300px;
  height:200px;
  padding: 20px;
  position: absolute;
  top: 7rem;
  right:0;
  z-index:40;
  background-color: #000;
  color: whitesmoke;
}

@media screen and (max-width:600px){

  div.modal-body.dark-modal-body{
    height:140px;
    width:100% !important;
  }

  .popup button.light-modal-button.got-it-button.new-visitor-button{
    top:0 !important;
  }
  
  div.modal-content, div.modal-body{
    background-color: #fff !important;
    width:100% !important;
  }

  .dark .modal-content{
    background-color: #000 !important;
    width:100% !important;
  }
  
div.popup{
  background-color: #529fcc !important;
}

  .dark div.modal-body{
    width:70% !important;
  }

  .modal-body{
    height:140px;
    width:70%;
    background-color: #529fcc !important;
  }

  .dark div.popup p, div.popup p{
    width: 90%;
    margin: 0 auto;
    padding-top:10px !important;
  }

  div.popup, div.popup p{
  
  padding:26px 0px 20px 0px
}

.popup a{
  color:#529fcc;
}

div.popup{
height: 140px !important;
}


.popup button.light-modal-button.got-it-button.new-visitor-button{
  color: #000 !important;
}


.dark .popup button.light-modal-button.got-it-button.new-visitor-button{
  background-color: transparent !important;
  color:#529fcc !important;
}
}

@media screen and (max-width:991px){
.notification-button{
  padding-left:0 !important;
}

div.notification{
  display:block;
  text-align: center;
  width: 80%;
  height:130px;
  padding: 30px 20px 20px 20px;
  margin: 0 auto;
  position: sticky;
  bottom:-10px;
  z-index:40;
  color: #000;
    background-color: #529fcc;
    border-top:1px solid #000;

}

  .dark div.notification{
    display:block;
    text-align: center;
    width: 300px;
    height:200px;
    padding: 20px;
    margin: 0 auto;
    position: sticky;
    bottom:-10px;
    z-index:40;
    color: whitesmoke;
    background-color: #000;
  }
    .fa-globe{
        padding-left:0px;
    }
    button.toggle_btn{
        padding-left:0px;
        padding-top:10px;
        width:24px;
    }

    div.switcher{
        padding-left: 0;
    }

    .moon{
        font-size:24px;
        margin-left:0;
    }
    
    .sun{
        font-size:24px;
        margin-left:0;
    }
}