*{
    font-family: "Montserrat", sans-serif;
}

.page-header {
    font-size: 1.2em;
    background-color: #529fcc;
    
}

.logo:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
        transform: scale(1.2);
    
    transition: transform 0.3s ease-out, padding-right 0.3s ease-out, border-bottom 0.3s ease-out, padding-bottom 0.3s ease-out, color 0.3s ease-out;
}

.switcher select {
    width: 130px;
    height: 44px;
    background-color: #529fcc;
    color:black;
  }

.dropdown-menu{
    background-color: #f3f0f0 !important;
    padding:0 !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color:white;
}

#nav-dropdown{ color: white}
.dropdown-item{
    padding:2px 0 16px 10px !important;
}

.dropdown-item:hover{
    background-color: #529fcc !important;
}


.nav-cases{
    text-decoration: none;
    padding:10px 25px 0 0;
    color:black;
}


.nav-lang-cases:hover{
    padding-left:10px;
    transition: all 0.2s ease-in;
}

.nav-cases:hover{
    color:white;
    padding-left:10px;
    transition: all 0.2s ease-in;
}