body {
    /* margin: 1rem auto; */
    /* max-width: 800px; */
    background-color: #fff;
    color: #000;
    --button-text: #000;
    --button-bg: transparent;
    transition: background-color 0.3s ease;
  }

  .dark span.navbar-toggler-icon{
    background:url('./../img/navbar-toggler-icon.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
}

.dark .logo{
    content: url("./../../../../public/dark-logo.svg"); 
}

.dark .profile-picture{
    content: url("./../img/profile-picture-dark.png"); 
    border-radius: 52% !important;
}

  body.dark {
    background-color: #424242;
    color: #fff;
    --button-text: #fff;
    --button-bg: transparent;
    transition: background-color 0.3s ease;
  }
  

  nav.page-header{
    background-color: #529fcc;
    color: hsl(0, 0%, 100%);
    
  }

  nav.page-header.dark{
    background-color: black;
    color: #fff;
  }

  html, body, #root {
    height: 100%;
  }

  .toggle_btn {
    background-color: var(--button-bg);
    color: var(--button-text);
    cursor: pointer;
    border: none;
  }


*{
    font-family: "Montserrat", sans-serif;
}

.page-header {
    font-size: 1.2em;
    
    /* background-color: #529fcc; */
    
}

/* .download-de, .download-en, .download-uk{
    width:20px;
} */

.logo:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
        transform: scale(1.2);
    
    transition: transform 0.3s ease-out, padding-right 0.3s ease-out, border-bottom 0.3s ease-out, padding-bottom 0.3s ease-out, color 0.3s ease-out;
}

.switcher select {
    width: 130px;
    height: 44px;
    background-color: #529fcc;
    color:black;
  }

.dropdown-menu{
    background-color: #f3f0f0 !important;
    padding:0 !important;
    
}

.navbar-expand-lg .navbar-nav .nav-link{
    color:white;
}

#nav-dropdown{ color: white}
.dropdown-item{
    padding:2px 0 16px 10px !important;
}

.dropdown-item:hover{
    background-color: #529fcc !important;
}


.nav-cases{
    text-decoration: none;
    padding:10px 25px 0 0;
    color:black;
    
}


.nav-lang-cases:hover{
    padding-left:10px;
    transition: all 0.2s ease-in;
}

.nav-cases:hover{
    color:white;
    padding-left:10px;
    transition: all 0.2s ease-in;
}

.fa-globe{
    padding-left:14px;
}

button.toggle_btn{
    /* padding-left:0px; */
    margin-top:3px;
}

.moon{
    /* width:17px; */
    /* height:24px; */
    font-size:24px;
    margin-left:10px;
    
}

.sun{
    /* width:27px; */
    /* height:24px; */
    font-size:24px;
     margin-left:10px;
     
}

@media screen and (max-width:991px){
    .fa-globe{
        padding-left:0px;
    }
    button.toggle_btn{
        padding-left:0px;
        padding-top:10px;
        width:24px;
    }

    div.switcher{
        padding-left: 0;
    }

    .moon{
        font-size:24px;
        margin-left:0;
    }
    
    .sun{
        font-size:24px;
        margin-left:0;
    }
}