*{
    font-family: "Montserrat", sans-serif;
}

@property --CheckGradColor1 {
    syntax: "<color>";
    initial-value: #529fcc;
    inherits: false;
}

@property --CheckGradColor2 {
    syntax: "<color>";
    initial-value: #0e687a;
    inherits: false;
}

@property --ResumeGradColor1 {
    syntax: "<color>";
    initial-value: #111111;
    inherits: false;
}

@property --ResumeGradColor2 {
    syntax: "<color>";
    initial-value: #a3a3a3;
    inherits: false;
}
.resumes{
    display:none;
}

.dark .r3play-carousel-heading{
    color: #529fcc;
} 

.flags{
    display:inline;
    text-decoration: none !important;
    border-bottom: none !important;
}

div.wrapper{
    min-height: 90vh;
}

.aboutContainer{
    flex-direction:row;
  }

  a.check-out:hover, a.check-out:active,
  button.resume:hover, button.resume:active,
  a.check-out:focus, button.resume:focus{
      /* padding-bottom: 6px; */
      outline: none;
      border-bottom: 2px solid transparent;
      -webkit-box-shadow: none;
              box-shadow: none;
  }
a.check-out {
    font-family: "Montserrat", sans-serif;
  /* height: 40px; */
  /* padding: 8px 18px; */
  /* margin-top: 10px; */
  /* margin-right: 8px; */
  /* display: inline-block; */
  background: #529fcc;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, var(--CheckGradColor1)), to(var(--CheckGradColor2)));
  background: -o-linear-gradient(left, var(--CheckGradColor1) 20%, var(--CheckGradColor2) 100%);
  background: linear-gradient(90deg, var(--CheckGradColor1) 20%, var(--CheckGradColor2) 100%);
  background: -webkit-linear-gradient(90deg, var(--CheckGradColor1) 20%, var(--CheckGradColor2) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#529FCC", endColorstr="#0E687A", GradientType=1 );
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: --CheckGradColor1 0.3s ease-out, --CheckGradColor2 0.3s ease-out;
}

a.check-out:hover {
    
    /* padding-bottom: 6px; */
    background: #0e697b;
    background: -webkit-gradient(linear, left top, right top, color-stop(20%, var(--CheckGradColor2)), to(var(--CheckGradColor1)));
    background: -o-linear-gradient(left, var(--CheckGradColor2) 20%, var(--CheckGradColor1) 100%);
    background: linear-gradient(90deg, var(--CheckGradColor2) 20%, var(--CheckGradColor1) 100%);
    background: -webkit-linear-gradient(90deg, var(--CheckGradColor2) 20%, var(--CheckGradColor1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E687A", endColorstr="#529FCC", GradientType=1 );
    color: white;
    --CheckGradColor1: #0e687a;
    --CheckGradColor2: #529fcc;
}

button.resume {
    font-family: "Montserrat", sans-serif;
    /* height: 40px; */
    /* padding: 8px 18px; */
    /* margin-top: 10px; */
    /* margin-left: 8px; */
    /* display: inline-block; */
    background: #ffffff;
    background: -webkit-gradient(linear, left top, right top, color-stop(30%, var(--ResumeGradColor1)), to(var(--ResumeGradColor2)));
    background: -o-linear-gradient(left, var(--ResumeGradColor1) 30%, var(--ResumeGradColor2) 100%);
    background: linear-gradient(90deg, var(--ResumeGradColor1) 30%, var(--ResumeGradColor2) 100%);
    background: -webkit-linear-gradient(90deg, var(--ResumeGradColor1) 30%, var(--ResumeGradColor2) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#111111", endColorstr="#a3a3a3", GradientType=1 );
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: --ResumeGradColor1 0.3s ease-out, --ResumeGradColor2 0.3s ease-out;
}



button.resume:hover {
    /* padding-bottom: 6px; */
    background: #121212;
    background: -webkit-gradient(linear, left top, right top, color-stop(30%, var(--ResumeGradColor2)), to(var(--ResumeGradColor1)));
    background: -o-linear-gradient(left, var(--ResumeGradColor2) 30%, var(--ResumeGradColor1) 100%);
    background: linear-gradient(90deg, var(--ResumeGradColor2) 30%, var(--ResumeGradColor1) 100%);
    background: -webkit-linear-gradient(90deg, var(--ResumeGradColor2) 30%, var(--ResumeGradColor1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#a3a3a3", endColorstr="#111111", GradientType=1 );
    color: white;
    --ResumeGradColor1: #a3a3a3;
    --ResumeGradColor2: #111111;
}

a.check-out,
button.resume {
    font-size: 15px;
}

@-webkit-keyframes profile-picture {
    0% {
        -webkit-transform: translate(0px, 3px);
                transform: translate(0px, 3px);
    }

    50% {
        -webkit-transform: translate(0px, -3px);
                transform: translate(0px, -3px);
    }

    100% {
        -webkit-transform: translate(0px, 3px);
                transform: translate(0px, 3px);
    }
}

@keyframes profile-picture {
    0% {
        -webkit-transform: translate(0px, 3px);
                transform: translate(0px, 3px);
    }

    50% {
        -webkit-transform: translate(0px, -3px);
                transform: translate(0px, -3px);
    }

    100% {
        -webkit-transform: translate(0px, 3px);
                transform: translate(0px, 3px);
    }
}

.profile-picture {
    /* z-index: -1;
    border-radius: 50%; */
    width: 400px;
    max-width: 400px;
    height: auto;
    /* margin-right: 40px; */
    -webkit-animation: 4s profile-picture infinite;
            animation: 4s profile-picture infinite;
}

h1{
color: #529fcc;
    font-weight: bold;
    
}

@media screen and (min-width:481px) and (max-width:768px){
    .profile-picture {
        width:60%;
        margin: 0 auto;
    }
}

@media screen and (max-width:480px){
    .profile-picture {
        width:70%;
        margin: 0 auto;
    }
}