.main-footer {
    /* margin: 1rem auto; */
    /* max-width: 800px; */
    /* background-color: #529fcc; */
    color: #000;
    --button-text: #000;
    --button-bg: transparent;
    transition: background-color 0.3s ease;
  }
  
  .main-footer.dark {
    background-color: #424242;
    color: #fff;
    --button-text: #fff;
    --button-bg: transparent;
    transition: background-color 0.3s ease;
  }


.main-footer {
    font-family: "Montserrat", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: auto;
    background-color: #529fcc;
    padding-bottom: 16px;
    /* color: white; */
    height:150px;
    /* padding-top:26px; */
    margin-top:96px;
    
}

.main-footer p {
    color: #000000;
}

/* .open-sidebar, .close-sidebar{
    color: black;
} */

.fa-caret-right{
    font-size: 34px;
    color:#529fcc;
    cursor: pointer;
    -webkit-animation: 4s close-sidebar infinite;
            animation: 4s close-sidebar infinite;
}

.sidebar-close{
    
    position:fixed;
    bottom:76%;
    z-index:30;
    left:-6px;
    height:20px;
    width:20px;
    
}

.social-container {
    padding-top: 20px;
    padding-bottom: 20px;
    /* align-items: center; */
    position:fixed;
    bottom:19%;
    left:-37px;
    height:366px;
    width:42px;
    /* width: 100%; */
    opacity:0.8;
    background-color: #529fcc;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-line-pack:space-evenly;
        align-content:space-evenly;
    
    
}

.sidebar-toggler{
    cursor: pointer;
}

.social-container:hover {
    /* left:0; */
    opacity:1;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.social-container a{
    margin-bottom: 25px;
    padding:10px;
    
}

.social-information {
    margin: 25px auto 16px;
    color: #1c7488;
}

.fa-envelope:hover,
.fa-skype:hover,
.fa-linkedin:hover,
.fa-twitter:hover,
.fa-github:hover,
.fa-medium:hover,
.fa-dev:hover {
    color: black;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    translate: 0px -4px;
    -webkit-transition: color 0.2s ease, translate 0.3s linear;
    -o-transition: color 0.2s ease, translate 0.3s linear;
    transition: color 0.2s ease, translate 0.3s linear;
}

.fa-envelope.contact-icons,
.fa-linkedin.contact-icons {
    color: #529fcc;
}

.fa-envelope.contact-icons:hover,
.fa-linkedin.contact-icons:hover {
    color: #3888b6;
}

.fa-envelope,
.fa-twitter,
.fa-linkedin,
.fa-github,
.fa-medium,
.fa-dev {
    /* padding-right: 15px; */
    font-size: 24px;
    color: white;
}

.fa-medium{
margin-left:-4px;
}

@media screen and (max-width: 992px) {
    .social-container{
        position:static;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
        padding:0;
        margin:0;
        width:initial;
        height:50px;
        
    }
    .main-footer{
        height:190px;
        
    }
    .sidebar-close{
        display:none;
    }
}